<h1>Hello, try out mekir</h1>
<%= link_to 'My Blog', controller: 'tasks' %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
  Signed in as <%= current_user.name %>
<% else %>
  Not signed in 
<% end %>

<%= yield %>
